body {
  font-family: sans-serif;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table {
  border-collapse: collapse;
  border-style:solid;
  border-width:1px;
  border-color:#666;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}

.for {
  background-color: #4caf50;
  color: white;
}
